.row-div {
  display: flex;
  overflow-x: auto;
}

.card-div {
  margin: 10px;
  margin-left: 40px;
  height: fit-content;
  width: 300px;
  border-radius: 10px;
  position: relative;

}

.game-photo {
  // padding: 20px;
  overflow: hidden;
  // position: absolute;
  width: 300px;
  height: 400px;
  object-fit: cover;
  transition: 0.2s;

}

.heading {
  display: block;
  color: white;
  font-size: 2em;
  font-weight: 400;
  padding: 20px 20px;

}


.layer {
  // background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  // background: rgba(226, 0, 0, 0.7);
  transition: 0.5s;
  // margin: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.layer h3 {
  // width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  position: absolute;
  opacity: 0;
  font-family: 'poppins';
  font-size: 16px;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 2%;
  margin: 0 auto;
  // margin-left: 30%;
  opacity: 1;
  transition: 0.2s;
}